@model standby_data.Models.tb_clientes

@*<form asp-controller="Cliente" asp-action="DeleteConfirm" method="post">*@
    @*<input type="hidden" name="_id" value="@Model.cl_id" asp-for="cl_id" />*@
<div class="modal fade" id="deleteRegistro-@Model.cl_id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        id="close-modal"></button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir o cliente @Model.cl_nome?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-danger" onclick="abrirModal(@Model.cl_id)">Sim</button>
            </div>
        </div>
    </div>
</div>

<div id="minhaModal"></div>

<script>
    function abrirModal(id) {
        $.ajax({
            type: "POST",
            url: '/Cliente/DeleteConfirm',
            data: { _id: id },
            success: function (data) {
                if (data.indexOf("Sucesso") !== -1) {
                    //Codigo sucesso
                    console.log("SUCESSO");
                    $("#minhaModal").html(data);
                    $("#deletadoSucessoModal").modal('show');
                } else {
                    console.log("Servico deletado");
                    console.log(data);
                    $("#deleteRegistro-"+id).modal('hide');
                    $("#minhaModal").html(data);
                    $("#clientesNaoPodemSerDeletadosModal").modal('show');
                }
                
            }
        });
    }
</script>