@model standby_data.Models.tb_clientes

<div class="modal fade" id="showModal-@Model.cl_id" tabindex="-1" aria-labelledby="EditClienteLabel"
     aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-light p-3">
                    <h5 class="modal-title">Editar Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        id="close-modal"></button>
                </div>
             <form asp-action="Edit" class="tablelist-form" autocomplete="off" method ="post">
                    <div class="modal-body">

                        <div class="mb-3" id="modal-id" style="display: none;">
                            <label for="id-field" class="form-label">ID</label>
                            <input asp-for="cl_id" type="text" id="id-field" class="form-control" placeholder="ID" readonly />
                        </div>

                        <div class="mb-3">
                            <label for="customername-field" class="form-label">Nome</label>
                            <input asp-for="cl_nome" type="text" id="customername-field" class="form-control" placeholder="Digite seu nome" required />
                                <div class="invalid-feedback">Por favor, digite o nome</div>
                        </div>

                        <div class="mb-3">
                            <label for="cpf-field" class="form-label">CPF</label>
                            <input asp-for="cl_cpf" type="text" id="email-field" class="form-control" placeholder="ex: 071.548.145-55" required />
                            <div class="invalid-feedback">Por favor, digite o cpf.</div>
                        </div>

                        <div class="mb-3">
                            <label for="phone-field" class="form-label">Telefone</label>
                            <input asp-for="cl_telefone" type="tel" id="phone-field" class="form-control" placeholder="Ex: 71-992851111" required />
                            <div class="invalid-feedback">Por favor, digite o telefone</div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success" id="add-btn">Atualizar</button>
                            <!-- <button type="button" class="btn btn-success" id="edit-btn">Update</button> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
