@using standby_data.Models.UtilModels;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using standby_data.Models;
@model tb_clientes

@section styles{
<!--datatable css-->
<link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
<!--datatable responsive css-->
<link href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" rel="stylesheet">
}

<form asp-action="Editar" asp-controller="Cliente" class="row needs-validation was-validated" id="formulario"
    method="post" novalidate>
    <!--div central-->
    <div class="col-12 col-md-12, col-xl-12">
        <div class="card " style="height: 50px">
            <div class="card-body ">
                <h4 class="card-title text-center">Edição de Cliente</h4>
                <!-- <h5 class="text-primary ">@Model.cl_nome</h5> -->
            </div>
        </div>
        <!-- Errors -->
        <div class="card d-none" id="errorCard">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Erros</h4>
            </div>
            <div class="card-body">
                <strong>
                    <div asp-validation-summary="ModelOnly" class="alert alert-warning" role="alert"></div>
                </strong>
            </div>
        </div>

        <!--Info Pessoal-->
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Informações pessoais</h4>
                <div class="flex-shrink-0"></div>
            </div>

            <div class="card-body">
                <div class="live-preview">
                    <div class="row g-3">
                        <div class="col-md-4">
                            <!--NOME COMPLETO-->
                            <label class="form-label" for="validationCustom01">Nome completo</label>
                            <input asp-for="cl_nome" class="form-control" id="validationCustom01"
                                placeholder="Digite o nome do cliente" required type="text" />
                            <div class="valid-feedback">Campo obrigatorio inserido!</div>
                            <div class="invalid-feedback">Por favor, digite um nome!</div>
                        </div>

                        <div class="col-md-3">
                            <!--CPF-->
                            <div class="mb-3">
                                <label class="form-label" for="cleave-cpf">CPF/CNPJ</label>
                                <input asp-for="cl_cpf" class="form-control" id="cleave-cpf"
                                    placeholder="000.000.000-00" required type="text" />
                                <div class="valid-feedback">Campo obrigatorio inserido!</div>
                                <div class="invalid-feedback">Por favor, preencha um CPF ou CNPJ!</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <!--DATA NASCIMENTO-->
                            <div class="mb-3">
                                <label class="form-label" for="cleave-date">Data de nascimento</label>
                                <input asp-for="cl_data_nascimento" class="form-control" id="cleave-date"
                                    placeholder="DD-MM-YYYY" type="text" />
                            </div>
                        </div>

                        <div class="col-md-2">
                            <!--SEXO-->
                            <label class="form-label" for="">Sexo</label>
                            <select asp-for="cl_sexo" class="form-select" id="">
                                <option disabled selected value="">M ou F...</option>
                                <option>M</option>
                                <option>F</option>
                            </select>
                        </div>
                    </div>
                    <!-- Esquema-->
                </div>
            </div>
        </div>

        <!--Contato-->
        <div class="card">
            <div class="card-header">Contato</div>
            <div class="card-body">
                <div class="row">
                    <input asp-for="cl_id" style="display: none" type="hidden" />
                    <div class="col-md-3">
                        <!--TELEFONE-->
                        <div class="mb-3">
                            <label class="form-label" for="cleave-telefone">Telefone</label>
                            <input asp-for="cl_telefone" class="form-control" id="cleave-telefone"
                                placeholder="(00) 00000-0000" type="text" required />
                            <div class="valid-feedback">
                                Campo obrigatorio inserido!
                            </div>
                            <div class="invalid-feedback">
                                Insira um telefone por favor!
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <!--TELEFONE RECADO-->
                        <div class="mb-3">
                            <label class="form-label" for="cleave-telefone-recado">
                                Telefone de Recado
                            </label>
                            <input asp-for="cl_telefone_recado" class="form-control" id="cleave-telefone-recado"
                                placeholder="(00) 00000-0000" type="text" required />
                            <div class="valid-feedback">
                                Campo obrigatorio inserido!
                            </div>
                            <div class="invalid-feedback">
                                Insira um telefone por favor!
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <!--NOME COMPLETO RECADO-->
                        <label class="form-label" for="validationCustom01">
                            Nome do contato
                        </label>
                        <input asp-for="cl_nome_recado" class="form-control" id="validationCustom01"
                            placeholder="Nome da pessoa que vai deixar recado" type="text" />
                    </div>

                    <div class="col-md-2">
                        <!--PARENTESCO-->
                        <label class="form-label" for="validationCustom01">
                            Parentesco
                        </label>
                        <input asp-for="cl_parentesco_recado" class="form-control" id="validationCustom01"
                            placeholder="Pai, mãe, irmão etc..." type="text" />
                    </div>
                </div>
            </div>
        </div>

        <!-- Endereco -->
        <div class="card">
            <div class="card-header">
                Endereço
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <!--CEP-->
                        <label class="form-label" for="cleave-cep" minlength="5">CEP</label>
                        <span class="badge rounded-pill badge-outline-warning ms-2 d-none" id="badge-avisoErro"
                            style="height: 15px; line-height: 5px">CPF nao encontrado!</span>
                        <span class="badge rounded-pill badge-outline-success ms-2 d-none" id="badge-avisoSucess"
                            style="height: 15px; line-height: 5px">CPF Encontrado!</span>
                        <input asp-for="cl_cep" class="form-control" id="cleave-cep" placeholder="42000-000"
                            type="text" />
                    </div>

                    <div class="col-md-4">
                        <!--RUA-->
                        <label class="form-label" for="">Rua</label>
                        <input asp-for="cl_endereco" class="form-control" id="cleave-rua"
                            placeholder="Rua segunda ligação" type="text" />
                    </div>

                    <div class="col-md-4">
                        <!--COMPLEMENTO-->
                        <label class="form-label" for="">Complemento</label>
                        <input asp-for="cl_complemento" class="form-control" id="cleave-complemento"
                            placeholder="Casa" type="text" />
                    </div>

                    <div class="col-md-4">
                        <!--BAIRRO-->
                        <label class="form-label" for="cleave-bairro">Bairro</label>
                        <input asp-for="cl_bairro" class="form-control" id="cleave-bairro" placeholder="Gleba B"
                            type="text" />
                    </div>

                    <div class="col-md-4">
                        <!--CIDADE-->
                        <label class="form-label" for="">Cidade</label>
                        <input asp-for="cl_cidade" class="form-control" id="cleave-cidade" placeholder="Camaçari"
                            type="text" />
                    </div>

                    <div class="col-md-4 mb-3">
                        <!--ESTADO-->
                        <label class="form-label" for="">Estado</label>
                        <select asp-for="cl_estado" class="form-select" id="cleave-estado">
                            <option disabled selected value="">Escolha um...</option>
                            <option>AC</option>
                            <option>AL</option>
                            <option>AP</option>
                            <option>AM</option>
                            <option>BA</option>
                            <option>CE</option>
                            <option>ES</option>
                            <option>GO</option>
                            <option>MA</option>
                            <option>MT</option>
                            <option>MS</option>
                            <option>MG</option>
                            <option>PA</option>
                            <option>PB</option>
                            <option>PR</option>
                            <option>PE</option>
                            <option>PI</option>
                            <option>RJ</option>
                            <option>RN</option>
                            <option>RS</option>
                            <option>RO</option>
                            <option>RR</option>
                            <option>SC</option>
                            <option>SP</option>
                            <option>SE</option>
                            <option>TO</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--Fim div central-->

    <a class="btn bg-secondary col-md-4 d-block mx-auto text-dark" type="submit" asp-action="Index">Voltar</a>
    <button class="btn btn-primary col-md-4 d-block mx-auto" type="submit">Atualizar Cliente</button>

</form>


@section scripts
{
<script crossorigin="anonymous" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
<script src="~/assets/js/pages/sweetalerts.init.js"></script>

<script src="https://nosir.github.io/cleave.js/dist/cleave.min.js"></script>
<script src="~/assets/js/pages/form-masks.init.js"></script>


<!-- prismjs plugin -->
<script src="~/assets/libs/prismjs/prism.js"></script>
<script src="~/assets/js/pages/form-validation.init.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/AddClienteView.js"></script>
<script>
    $(document).ready(function () {
        if ($(".validation-summary-errors li").length > 0) {
            $("#errorCard").removeClass("d-none");
            $("#errorCard").show();
        } else {
            $("#errorCard").addClass("d-none");
            $("#errorCard").hide();
        }
    });
</script>

}