@{
    ViewData["Title"] = "_InserirCheckListEntrada";
}

<!-- Grids in modals -->
<div class="modal fade" id="exampleModalgrid" tabindex="-1" aria-labelledby="exampleModalgridLabel" aria-modal="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalgridLabel">Checklist</h5>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">



        @* <div class="live-preview"> *@
                    <div class="row">
                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Biometria / Face-ID</label>
                            <select class="form-select input-servicos-select "
                                id="cleave-estado">
                                <option disabled selected value=""></option>
                                <option>TEste</option>
                            </select>

                        </div>

                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Microfone</label>
                            <select class="form-select input-servicos-select " id="cleave-estado">
                                <option disabled selected value=""></option>
                                <option>TEste</option>
                            </select>

                        </div>
                    </div> <!-- Linha biometrica -->



                    <div class="row">
                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Tela</label>
                            <select class="form-select input-servicos-select "
                                id="cleave-estado">
                                <option disabled selected value=""></option>
                                <option>TEste</option>
                            </select>

                        </div>

                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Chip</label>
                            <select class="form-select input-servicos-select "
                                id="cleave-estado">
                                <option disabled selected value=""></option>
                                <option>TEste</option>
                            </select>

                        </div>
                    </div><!-- Linha tela -->



                    <div class="row">
                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Botões</label>
                            <select class="form-select input-servicos-select "
                                id="cleave-estado">
                                <option disabled selected value=""></option>
                                <option>TEste</option>
                            </select>

                        </div>

                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Sensor</label>
                            <select class="form-select input-servicos-select "
                                id="cleave-estado">
                                <option disabled selected value=""></option>
                                <option>TEste</option>
                            </select>

                        </div>
                    </div><!-- Linha Botoes -->



                    <div class="row">
                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Câmeras</label>
                            <select class="form-select input-servicos-select "
                                id="cleave-estado">
                                <option disabled selected value=""></option>
                                <option>TEste</option>
                            </select>

                        </div>

                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Auricular</label>
                            <select class="form-select input-servicos-select "
                                id="cleave-estado">
                                <option disabled selected value=""></option>
                                <option>TEste</option>
                            </select>

                        </div>
                    </div><!-- Linha Cameras -->



                    <div class="row">
                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Wi-Fi</label>
                            <select class="form-select input-servicos-select "
                                id="cleave-estado">
                                <option disabled selected value=""></option>
                                <option>TEste</option>
                            </select>

                        </div>

                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Alto Falante</label>
                            <select class="form-select input-servicos-select "
                                id="cleave-estado">
                                <option disabled selected value=""></option>
                                <option>TEste</option>
                            </select>

                        </div>
                    </div><!-- Linha Wi-Fi -->



                    <div class="row">
                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Bluetooth</label>
                            <select class="form-select input-servicos-select "
                                id="cleave-estado">
                                <option disabled selected value=""></option>
                                <option>TEste</option>
                            </select>

                        </div>

                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Carregamento</label>
                            <select class="form-select input-servicos-select "
                                id="cleave-estado">
                                <option disabled selected value=""></option>
                                <option>TEste</option>
                            </select>

                        </div>
                    </div><!-- Linha Wi-Fi -->


                    <div class="row">
                        <div class="col-md-12 col-sm-12 select-clientes-pai ">
                            <label class="form-label-servicos mt-3" for="cleave-cpf">Carregamento</label>
                            <textarea class="form-control"
                                id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>


                    <!-- Switches Color -->
                    <div class="form-check form-switch mt-4">
                        <input class="form-check-input" type="checkbox" role="switch"
                            id="SwitchCheck1" unchecked>
                        <label class="form-check-label" for="SwitchCheck1">Impossivel fazer checklist</label>
                    </div>


                    <div class="row">
                        <div class="col-md-12 col-sm-12 select-clientes-pai ">
                            <label class="form-label-servicos mt-3" for="cleave-cpf">Motivo</label>
                            <textarea class="form-control"
                                id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>

                </div>





</div>
</div>
</div>
</div>