@using standby_data.Models;
@model tb_servicos
@{
    ViewData["Title"] = "EditarServico";
}

@section Styles {
    <link href="~/css/lockscreen.css" rel="stylesheet" />
     <link rel="stylesheet" href="~/css/style.css" />
}

<div class="row">
    <form asp-action="Editar" asp-controller="Servico" class="row needs-validation " id="formulario" method="post" novalidate>
        @* <div class="col-12 col-md-12, col-xl-12"> *@
            <input asp-for="sv_senha_pattern" type="hidden" id="ImageData" name="ImageData">
            <input asp-for="sv_id" type="hidden" />
            <!-- Errors -->
            <div class="card d-none" id="errorCard">
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Erros</h4>
                </div>
                <div class="card-body">
                    <strong>
                        <div asp-validation-summary="ModelOnly" class="alert alert-warning" role="alert"></div>
                    </strong>
                </div>
            </div>
        
            <div class="col-6 ">
                <div class="card">
                    <!--Header Informacoes do Aparelho-->
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Informações aparelho</h4>
                        <div class="flex-shrink-0"></div>
                    </div>

                    
                    <div class="card-body">
                        <div class="live-preview">
                            <!--Primeira linha-->
                            <div class="row g-3">
                                
                                <!--DATA SERVICO-->
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-label" for="cleave-date">Data</label>
                                        <input asp-for="sv_data" class="form-control" id="cleave-date" placeholder="DD-MM-YYYY"
                                            type="text" />
                                    </div>
                                </div>

                                <!--MARCA-->
                                <div class="col-md-3">
                                    <label class="form-label" for="">Marca</label>
                                    <select asp-for="sv_marca" class="form-select" id="cleave-estado">
                                        <option disabled selected value=""></option>
                                        <option>SAMSUNG</option>
                                        <option>LG</option>
                                        <option>IPHONE</option>
                                    </select>
                                </div>

                                <!--MODELO-->
                                <div class="col-md-6">
                                    <label class="form-label" for="validationCustom01">Aparelho</label>
                                    <input asp-for="sv_aparelho" class="form-control" id="validationCustom01"
                                        placeholder="Digite o nome do cliente" required type="text" />
                                    <div class="valid-feedback">Campo obrigatorio inserido!</div>
                                    <div class="invalid-feedback">Por favor, digite um nome!</div>
                                </div>
                            </div>

                            <!-- Segunda linha-->
                            <div class="row g-3">
                                <!--CPF-->
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label class="form-label" for="cleave-cpf">Cor</label>
                                        <select asp-for="sv_cor" class="form-select" id="cleave-estado">
                                        <option disabled selected value=""></option>
                                        <option>PRETO</option>
                                        <option>VERMELHO</option>
                                        <option>AZUL</option>
                                    </select>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="mb-3">
                                        <label class="form-label" for="cleave-cpf">Serial Number (MEI)</label>
                                        <input asp-for="sv_mei_serialnumber" class="form-control" id="cleave-cpf" placeholder=""
                                            required type="text" />
                                        <div class="valid-feedback">Campo obrigatorio inserido!</div>
                                        <div class="invalid-feedback">Por favor, preencha um CPF ou CNPJ!</div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-label" for="cleave-cpf">Senha</label>
                                        <input asp-for="sv_senha" class="form-control" id="cleave-cpf" placeholder=""
                                            required type="text" />
                                        <div class="valid-feedback">Campo obrigatorio inserido!</div>
                                        <div class="invalid-feedback">Por favor, preencha um CPF ou CNPJ!</div>
                                    </div>
                                </div>

                                <div class="row-6 text-center">
                                    @* <label class="form-label " for="cleave-cpf">
                                        Ver senha de Padrão
                                    </label>
                                    <a class="btn btn-primary col-md-12 d-block mx-auto" onclick="return loadModal()">
                                        Atualizar SV
                                        </a>
                                        @await Html.PartialAsync("_SenhaPatternAndroid", new SenhaPatternModel()) *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
    
            <div class="col-6 ">
                <div class="card">
                    <!--Header Condicoes Fisicas-->
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Informações pessoais</h4>
                        <div class="flex-shrink-0"></div>
                    </div>
                
                    <div class="card-body">
                        <div class="live-preview">
                            <div class="row g-3">

                                <!--NOME COMPLETO-->
                                <div class="col-md-4">
                                    <label class="form-label" for="validationCustom01">Nome completo</label>
                                    <input asp-for="sv_defeito" class="form-control" id="validationCustom01"
                                        placeholder="Digite o nome do cliente" required type="text" />
                                    <div class="valid-feedback">Campo obrigatorio inserido!</div>
                                    <div class="invalid-feedback">Por favor, digite um nome!</div>
                                </div>
                
                                <!--CPF-->
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-label" for="cleave-cpf">CPF/CNPJ</label>
                                        <input class="form-control" id="cleave-cpf" placeholder="000.000.000-00"
                                            required type="text" />
                                        <div class="valid-feedback">Campo obrigatorio inserido!</div>
                                        <div class="invalid-feedback">Por favor, preencha um CPF ou CNPJ!</div>
                                    </div>
                                </div>
                
                                <!--DATA NASCIMENTO-->
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-label" for="cleave-date">Data de nascimento</label>
                                        <input  class="form-control" id="cleave-date" placeholder="DD-MM-YYYY"
                                            type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-4 ">
                <div class="card">
                    <!--Header Condicoes Fisicas-->
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Informações pessoais</h4>
                        <div class="flex-shrink-0"></div>
                    </div>
                
                    <div class="card-body">
                        <div class="live-preview">
                            <div class="row">

                                
                                @* <a class="btn bg-secondary col-md-5 d-block mx-auto text-dark" type="submit" id="capture-button">Print</a> *@
                                
                            </div>
                        </div>
                    </div>
                </div>



                @* <button type="button" class="btn btn-primary" onclick="return loadModal()">
                Abrir Modal
            </button> *@
            


            </div>

            

            
        @* </div> *@
        <button class="btn btn-primary col-md-4 d-block mx-auto" type="submit">Atualizar SERV</button>
    </form>
</div>

<label class="form-label " for="cleave-cpf">
                                        Ver senha de Padrão
                                    </label>
                                    <a class="btn btn-primary col-md-12 d-block mx-auto" onclick="return loadModal()">
                                        Atualizar SV
                                        </a>
                                        @await Html.PartialAsync("_SenhaPatternAndroid", new SenhaPatternModel())

                                        
@section Scripts {
    <script src="https://nosir.github.io/cleave.js/dist/cleave.min.js"></script>
    <script src="~/assets/js/pages/form-masks.init.js"></script>
    <script src="~/js/lockscreen.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.js"></script>
    

    <script type="text/javascript" src="~/js/script.js"></script>

<script>
  function ReceberSenhaPatternDaPartial(inputValue) {
    // Aqui você pode usar o valor digitado pelo usuário
    console.log("Senha recebida:", inputValue);
  }
</script>


<script>
    function EnviarSenhaPatternParaViewPai(){
        console.log("Enviando senha");
        var inputValue = $(".senhaPattern").val();

        // Envia o valor digitado pelo usuário para a View principal
        window.parent.ReceberSenhaPatternDaPartial(inputValue);
    }
</script>



<script>
    function loadModal(){
        $('#exibirPatternPassword').modal('show')
    }
</script>




<script>
  document.querySelector("formulario").addEventListener("submit", function(event) {
    console.log("submit");
    event.preventDefault();

    html2canvas(document.querySelector("#root")).then(function(canvas) {
        console.log("render canvas");
      var canvasImage = canvas.toDataURL();
      document.querySelector("#ImageData").value = canvasImage;

      this.submit();
    }.bind(this));
  });
</script>



<script>
    function teste(){
    console.log("TESTE");
    html2canvas(document.querySelector("#root")).then(function(canvas) {
        console.log("render canvas");
      var canvasImage = canvas.toDataURL();
      document.querySelector("#ImageData").value = canvasImage


      console.log("CanvasImage: ", canvasImage);
      });
    }
</script>

<script>
  document.getElementById("capture-button").addEventListener("click", function() {
    html2canvas(document.querySelector("#root")).then(function(canvas) {
      var canvasImage = canvas.toDataURL();

      var link = document.createElement("a");
      link.download = "imagem.png";
      link.href = canvasImage;

      document.body.appendChild(link);
      link.click();

      document.body.removeChild(link);
    });
  });
</script>



@* <script> //Tirar print da div
    document.getElementById("capture-button").addEventListener("click", function() {
    var canvas = document.querySelector("canvas");
    var canvasImage = canvas.toDataURL();

    var link = document.createElement("a");
    link.download = "imagem.png";
    link.href = canvasImage;

    document.body.appendChild(link);
    link.click();

    document.body.removeChild(link);
});
</script> *@



    @* <script>
        document.getElementById("capture-button").addEventListener("click", function() {
        var target = document.querySelector(".mhn-ui-wrap");
        var canvas = document.createElement("canvas");

        html2canvas(target, {
            canvas: canvas,
        }).then(function (canvas) {
            var targetImage = canvas.toDataURL();

            // Cria um elemento "a" com a imagem base64 como link
            var link = document.createElement("a");
            link.download = "imag.png";
            link.href = targetImage;

            // Adiciona o elemento "a" ao documento e clica nele para fazer o download da imagem
            document.body.appendChild(link);
            link.click();

            // Remove o elemento "a" do documento
            document.body.removeChild(link);
        });
    });

    </script> *@

}
