@using standby_data.Models
@using Syncfusion.EJ2.DropDowns;
@using standby_data.Models.UtilModels
@model List<tb_servicos>
@{
    ViewBag.Title = "Index";
    ViewBag.pTitle = "Serviços";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @* var order = ViewData["Lista"] as List<tb_servicos>; *@
}

@section styles{
<!--datatable css-->
<link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
<!--datatable responsive css-->
<link href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" rel="stylesheet">
 <link rel="stylesheet" href="~/assets/libs/gridjs/theme/mermaid.min.css" rel="stylesheet">
}

<div class="row" id="root">
    <div class="col-lg-12">
        <div class="card " style="height: 50px">
            <div class="card-body ">
                <h4 class="card-title text-center">Tela Principal - @ViewBag.pTitle</h4>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Lista de serviços StandBy</h5>
            </div>
            <div class="card-body">

                <div class="col-sm-auto mb-3">
                    <div>
                        <a asp-action="AddCliente" asp-controller="Servico" class="btn btn-primary add-btn me-1">
                            <i class="ri-smartphone-line align-bottom me-1"></i>Celular</a>
                            <a asp-action="AddCliente" asp-controller="Servico" class="btn btn-primary add-btn me-1">
                            <i class="ri-macbook-line align-bottom me-1"></i>Notebook</a>
                            <a asp-action="AddCliente" asp-controller="Servico" class="btn btn-primary add-btn me-1">
                            <i class="ri-computer-line align-bottom me-1"></i>Computador</a>

                        <button class="btn btn-secondary" id="deleteSelecionadosButton" onclick="return deleteTodosRegistrosSelecionados()" type="button"><i class="ri-delete-bin-5-line align-bottom me-1"></i>Excluir selecionados</button>
                    </div>
                </div>
                @* <input class="form-check-input fs-15" type="checkbox" id="checkAll1" value="0"> *@
                @* <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0 flex-grow-1">Base Example</h4>
                            </div><!-- end card header -->

                            <div class="card-body">
                                <div id="table-gridjs"></div>
                            </div><!-- end card-body -->
                        </div><!-- end card -->
                    </div>
                    <!-- end col -->
                </div> *@

                <table class="table table-bordered dt-responsive nowrap table-striped align-middle" id="tabelaClientes"
                    style="width: 100%">

                    <thead>
                        <!-- Cabecalho da table-->
                        <tr>
                            @* <th scope="col" style="width: 10px;"></th> *@
                            <th><input class="form-check-input fs-15" type="checkbox" id="checkAll" onclick="return SelecionarTodasCheckBoxes()" value="0"></th>
                            <th data-ordering="false" id="sv_id" name="sv_id">ID</th>
                            <th id="sv_ordem_serv" name="sv_ordem_serv">OS</th>
                            <th id="cl_nome" name="cl_nome">Nome</th>
                            <th id="sv_data" name="sv_data">Data</th>
                            <th id="" name="">Prazo</th>
                            <th id="sv_defeito" name="sv_defeito">Defeito</th>
                            <th id="cl_aparelho" name="cl_aparelho">Aparelho</th>
                            <th id="cl_previsao_entrega" name="cl_previsao_entrega">Prev. Entrega</th>
                            <th id="" name="">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="clientesNaoPodemSerDeletadosDIV"></div>
    <div id="tes"></div>
    
</div>   


@section Scripts {

<!-- bibliotecas de datatable -->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="~/assets/js/pages/datatables.init.js"></script>
<script charset="utf-8" src="https://cdn.datatables.net/plug-ins/1.10.20/sorting/datetime-moment.js" type="text/javascript"></script>
<script charset="utf-8" src="https://cdn.datatables.net/plug-ins/1.10.19/dataRender/datetime.js" type="text/javascript"></script>

<!-- gridjs js -->
<script src="~/assets/libs/prismjs/prism.js"></script>
<script src="~/assets/libs/gridjs/gridjs.umd.js"></script>

<!-- funcoes js da pagina -->
<script src="~/js/IndexServico.js"></script>

@* <script>
    $(document).ready(function () {
        $.ajax({
            url: '/Servico/ListaServicos',
            data: '',
            type: "GET",
            success: function (result) {
                console.log(result);
            },
        });
    });
</script> *@


<script>
$(document).ready(function () {
    $.fn.dataTable.moment('DD/MM/YYYY');
    var table = $('#tabelaClientes').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'excel',
            'csv',
            {
                extend: 'print',
                text: 'Imprimir',
                autoPrint: false,
                exportOptions: {
                    columns: [2, 3, 4, 5, 6, 7, 8],
                }
            }
        ],
        order: [[5, 'asc']],
        language: { url: "https://cdn.datatables.net/plug-ins/1.13.2/i18n/pt-BR.json" },
        @* order: [[5, 'desc']], //Comeca em 0 = primeira coluna *@
        ajax: {
            url: '/Servico/ListaServicos',
            dataSrc: ''
        },
        columns: [
            {
                data: null,
                orderable: false,
                render: function (data) {
                    return '<input class="form-check-input fs-15" type="checkbox" name="selectedIds" value="' +
                        data.cl_id +
                        '">';
                }
            },
            { data: "Servicos.sv_id", visible: false, },
            { data: "Servicos.sv_ordem_serv" },
            { data: "cl_nome"},
            {
                data: "Servicos.sv_data",
                orderDataType: "date",
                render: function (data, type, row) {
                    if (data) {
                        var date = new Date(data);
                        return date.toLocaleDateString('pt-BR', { day: 'numeric', month: 'numeric', year: 'numeric' });
                    } else {
                        return "";
                    }
                }
            },
            { 
                data: "diferenca",
                type: "numeric",
            },
            { data: "Servicos.sv_defeito" },
            { data: "Servicos.sv_aparelho" },
            {
                data: "Servicos.sv_previsao_entrega",
                orderDataType: "date",
                render: function (data, type, row) {
                    if (data) {
                        var date = new Date(data);
                        return date.toLocaleDateString('pt-BR', { day: 'numeric', month: 'numeric', year: 'numeric' });
                    } else {
                        return "";
                    }
                }
            },
            {
                data: null,
                orderable: false,
                render: function (data) { //Coluna de Action

                    var id = data.Servicos.sv_id;
                    @* console.log(id) *@
                    var action = '@Url.Action("EditarServico", "Servico")?id='+id+'';
                    var action2 = '/Servico/Editar/' + id;

                    var botao1 = '<a href='+action2+' class="link-primary fs-15 me-2 ms-2"><i class="ri-edit-2-line" data-bs-toggle="modal" id="create-btn"></i></a>';
                    var botao2 =  '<a  class="link-danger fs-15"><i class="ri-delete-bin-line" data-bs-toggle="modal" id="delete-btn" data-bs-target="#deleteRegistro-'+data.cl_id+'" onclick="loadDeleteClientePartialView('+data.cl_id+')"></i></a>';

                    return '<div class="d-flex justify-center text-center"><a href="javascript:void(0);" class="link-success fs-15">' +botao1 + botao2 + '</div>';
                }
            }
        ],
        pageLength: 10,
        drawCallback: function () {//Mudar o texto e o HTML da coluna apos renderizada
            $('#tabelaClientes tbody tr').each(function () {
                var valor = $(this).find('td:eq(4)').text();
                var diferencaDias = parseInt($(this).find('td:eq(4)').text());
                @* console.log(valor); *@
                if(valor == ""){
                    return valor;
                }else if (diferencaDias < 0) {
                    $(this).find('td:eq(4)').html('<span class="badge badge-soft-danger">' + diferencaDias + ' Dias</span>');
                } else {
                    $(this).find('td:eq(4)').html('<span class="badge badge-soft-success">' + diferencaDias + ' Dias</span>');
                }
            });
        }
    });
});
</script>
}